@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake,
    fantasy;
}

:root,
body {
  /* @apply min-w-full min-h-full bg-base-100
*/
}

.main {
  @apply my-6 md:mx-auto max-w-300;
}

.input,
.text-area,
textarea {
  @apply w-full;
}
