@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root,body {
  @apply min-w-full min-h-full bg-zinc-50
}

.main {
  @apply mx-4 my-6 md:mx-auto max-w-[1200px] 
}

.input , .text-area, textarea {
  @apply w-full
}

